@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");


 /* Home is changed */
/* Content container styling */
.content-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
}

/* Company image styling */
.company-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-image {
    width: 100%;
    width: 500px;
    height: auto;
    border-radius: 8px;
    background-color: #a0ced9; /* Background color for placeholder image */
}

/* Right container styling */
.container-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Intro title styling */
.intro-title-container {
    background-color: #a0ced9;
    padding: 10px;
    border-radius: 8px;
}

.intro-title-container h1 {
    margin: 0;
    font-size: 20px;
    color: #333;
    font-family: "Roboto", sans-serif;
}

/* Description text styling */
.description-container {
    background-color: #a0ced9;
    padding: 15px;
    border-radius: 8px;
    height: 100%;
}

.description-text {
    font-size: 20px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
